@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.onePost {
  width: 80%;
  margin: auto;
  margin-bottom: 24px;
}

.onePost img{
margin: auto;
margin-bottom: 24px;
mix-blend-mode: luminosity;
border-radius: 5px;
}

h1 {
  color: "#fff" !important;
}

body {
  color: "#fff" !important;
}

canvas {
  display: block;
  position:absolute;
  top:0;
  left:0;
  }

:root {
  --global-font-size: 15px;
  --global-line-height: 1.4em;
  --global-space: 10px;
  --font-stack: Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
    serif;
  --mono-font-stack: Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
    serif;
  --background-color: #222225;
  --page-width: 60em;
  --font-color: #e8e9ed;
  --invert-font-color: #222225;
  --secondary-color: #a3abba;
  --tertiary-color: #a3abba;
  --primary-color: #62c4ff;
  --error-color: #ff3c74;
  --progress-bar-background: #3f3f44;
  --progress-bar-fill: #62c4ff;
  --code-bg-color: #3f3f44;
  --input-style: solid;
  --display-h1-decoration: none;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.typeEffect {
  overflow: hidden;
  white-space: nowrap;
  margin: auto 0;
  animation: typing 5.5s steps(80, start);
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-container > div {
  margin-top: 24px;
  width: 250px;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }

  .onePost {
    width: 95%;
  }
}